body {
  font-family: 'Manrope', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.default-avatar {
  max-width: 1.5rem;
  max-height: 1.5rem;
  cursor: pointer;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.gray-text {
  color: rgba($color: #000000, $alpha: 0.54);
}

.align-item-center {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}