.registermail {
  background-color: #f2f2f2;
  padding: 15px 0;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registerForm {
    display: inline;
  }

  .inputGroup {
    display: inline-table;
  }

  .inputGroupBtn {
    width: auto;
  }

  .btnSubmit {
    height: 40px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    padding: 5px 15px;
  }

  .title h2 {
    font-size: 16px;
    text-transform: uppercase;
  }

  .emailInput {
    border-radius: 20px 0 0 20px;
    border: 1px solid gray;
    outline: none;
    font-size: 14px;
    padding: 5px 15px;
    height: 40px;
    width: 100%;
    background-color: #fff;
  }
}