{
  "presets": [
    [
      "next/babel",
      {
        "useBuiltIns": "usage",
        "debug": true,
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./components",
          "@layout": "./layout",
          "@assets": "./assets",
          "@store": "./store",
          "@dummy": "./dummy"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ],
        "next/babel"
      ]
    }
  }
}